html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Rubik", Arial, sans-serif;
}

::selection {
  color: rgb(255, 255, 255);
  background: rgba(206, 127, 127, 0.4);
}

a {
  text-decoration: none;
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 800;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner {
  display: flex;
  font-size: .7em;
  justify-content: center;
  align-items: center;
  background-image: url("../images/main_page/sample_background.jpg");
  overflow: hidden;
  height: 30vh;
  width: 100%;
  z-index: 2;
  background-size: cover;
}

.bannerOverlay {
  height: 30vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  overflow: hidden;
  opacity: 0.85;
  position: absolute;
  z-index: 1;
}

.bannerLeft {
  text-align: center;
  padding: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 3;
  color: white;
}
.bannerLeft h2 {
  font-size: 5ch;
}
.bannerLeft h3 {
  font-size: 3ch;
}
.bannerRight {
  display: none;
  padding: 2%;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  color: white;
  margin: 2%;
}
.bannerRight p {
  font-size: 2.5ch;
  line-height: 2.5ch;
}


@media (min-width: 630px) {
  .bannerLeft {
    text-align: left;
  }
  .bannerRight {
    display: flex;
    font-size: .75em;
  }
}
@media (min-width: 720px) {
  .bannerRight {
    display: flex;
    font-size: .8em;
  }
}
@media (min-width: 840px) {
  .bannerLeft {
    width: 50%;
  }
  .bannerRight {
    display: flex;
    font-size: .8em;
  }
}

@media (min-width: 840px) {
  .banner {
    font-size: 1em;
  }
}