.content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80vw;
    text-align: left;
    min-height: 57vh;
    margin: auto;
    font-size: 14pt;
    text-align: left;
}

@media (min-width: 800px) {
    .content {
        font-size: 15pt;
    }
}

@media (min-width: 1200px) {
    .content {
        font-size: 15pt;
        width: 50vw;
    }
}

@media (min-width: 1600px) {
    .content {
        width: 40vw;
        text-align: left;
        margin-left: 21vw;
    }
}

@media (min-width: 1900px) {
    .content {
        width: 38vw;
        margin-left: 22vw;
    }
}

@media (min-width: 2000px) {
    .content {
        width: 37vw;
    }
}
  

.content img {
    margin: 40px auto 0px auto;
    width: 100%;
}

.content img#energia {
    max-width: 400px;
}

.content img#cieplo {
    max-width: 500px;
}

.content img#kalorymetr {
    max-width: 400px;
}

.content img + span.img-sub::before {
    content: "Źródło: ";
    font-style: normal;
}

.content img + span.img-sub {
    font-size: 12pt;
    margin: 10px auto 5px auto;
    font-style: italic;
}
  
.content p {
    margin: 12px;
}

table {
    width: 75%;
    border-collapse: collapse;
    margin: 20px auto;
}

th {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

td p {
    margin: 0;
    padding: 5px 10px;
}

td {
    font-size: 0.90em;
}

.sources {
    margin-top: 30px;
    font-size: .7em;
    overflow: hidden;
}