.container-box.visual {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content.visual {
  width: auto;
  margin: auto;
}

.container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.red-box.large {
  background-color: white;
  height: calc(100% + 15px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.red-box.large video {
  width: 80%;
  height: auto;
  max-height: 100%;
}

@media (max-width: 1000px) {
  .red-box.large video {
    width: 95%;
    height: auto;
    max-height: 100%;
  }
}

.steps-title {
  background-color: rgba(91, 99, 216, 0.2);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  margin-bottom: 2em;
}

.steps-title h2 {
  color: #5b63d8;
  font-size: 1.5rem;
  margin: 0;
}

.boxes {
  display: flex;
  height: 150px;
}

.container-box {
  text-align: center;
  margin-bottom: 1.25em;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 1em;
  margin-top: 1em;
}

@media (min-width: 1500px) {
  .list-container {
    flex-direction: row;
    gap: 30px;
  }
}

.left-list,
.right-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.left-list li::before,
.right-list li::before {
  content: counter(list-item) ". ";
  counter-increment: list-item;
  color: #5b63d8;
  font-weight: bold;
  display: inline-block;
  width: 2em;
  text-align: right;
  margin-right: 5px;
}

.left-list li,
.right-list li {
  margin-bottom: 10px;
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 0.7em;
}

@media (min-width: 800px) {
  .left-list li,
  .right-list li {
    font-size: 1em;
  }
}

.right-list {
  counter-reset: list-item 6;
}

.left-list {
  counter-reset: list-item 0;
}

.dashed-line {
  border-top: 2px dashed #cccccc;
  width: 95%;
  margin: 1.8em 0 1em 0;
}
