footer {
  color: #333;
  text-align: center;
  padding: 0.4em 0;
  font-family: "Rubik", Arial, sans-serif;
  background-color: white;
  font-size: 0.875em;
  border-top: 1px solid #cdcdcd;
  width: 100%;
  margin-top: auto;
  height: 3vh;
  padding-top: 1em;
  bottom: 0;
}

.design-credits {
  color: rgb(29, 26, 26);
  font-weight: bold;
}
