footer {
  color: #333;
  text-align: center;
  padding: 0.4em 0;
  font-family: "Rubik", Arial, sans-serif;
  background-color: white;
  font-size: 0.875em;
  border-top: 1px solid #cdcdcd;
  width: 100%;
  padding-top: 1em;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100; /* Aby stopka była ponad innymi elementami */
  height: 3em;
}

.design-credits {
  color: rgb(29, 26, 26);
  font-weight: bold;
}

@media (max-width: 500px) {
  footer {
    bottom: -47em;
  }
}
