<nav class="navbar">
    <div class="navbar__container">
        <!-- Ikonka hamburgera -->
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <div class="navbar__logo">
            <img src="assets/images/navbar/navbar-main-logo.png" alt="Your Lab Logo"
                class="navbar__logo-img" />
            <a href="index.html" class="navbar__brand">Ciepło Właściwe</a>
        </div>
        <div class="navbar__links">
            <a href="teoria.html" class="navbar__link">
                <img src="assets/images/navbar/mini-icon-brain.png" class="navbar__link-icon"
                    alt="Ikona Teorii" />Teoria
            </a>
            <a href="wizualizacja.html" class="navbar__link">
                <img src="assets/images/navbar/mini-icon-animation.png" class="navbar__link-icon"
                    alt="Ikona Animacji" />Wizualizacja
            </a>
            <a href="program.html" class="navbar__link">
                <img src="assets/images/navbar/mini-icon-gear.png" class="navbar__link-icon"
                    alt="Ikona Programu" />Program
            </a>
        </div>
    </div>
</nav>